* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gambar {
    width: 70px;
}
table,
th,
td {
    border: 1px solid black;
}
.logout{
    text-align: center;
}
table {
    width: 100%;
}
.table>tbody>tr * {
    vertical-align: middle;
}

body {
    font-family: sans-serif;

}

nav {
    height: 7vh;
    background: #5b78c7;
}

.nav-link {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.nav-link li a {
    color: white;
    text-decoration: none;
    font-size: 16px;

}

.land {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.land h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
}

@media screen and (max-width :768px) {

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }


    .nav-link {
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -200%);
        transition: all 1s ease-out;
    }

    .nav-link.open {
        clip-path: circle(1000px at 90% 15%);
    }

    .land {
        flex-direction: column;
    }

    .nav-link li {
        opacity: 0;
    }


    .nav-link li a {
        font-size: 25px;
    }

    .nav-link li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-link li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-link li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-link li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    li.fade {
        opacity: 1;
    }
}

.pindah {
    background: #5b78c7;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s;
}

.pindah:hover {
    background: #34495e;
    color: #fff;
}

.ava {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: sticky;
}

.ava2 {
    height: 100px;
    width: 120px;
    float: none;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 30%;
    box-shadow: 6px 6px 30px -4px rgba(0, 0, 0, 0.75);
}

.tombol {
    background: #fff;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: all 0.4s;
}

.tombol:hover {
    background: #34495e;
    color: #fff;
}

.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease-in-out 1s;
}

.popupcont {
    height: 300px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    transition: all ease-in-out 1s;
}

.in {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
    text-align: center;
}

.in:hover {
    border: 1px solid blue;
}

.close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -10px;
    right: -9px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}


.eye {
    position: relative;
    top: 205px;
    right: 110px;
}

#hide1 {
    display: none;
}